header, footer {
    background-color: var(--bg-color-grey);
}

/* Header */

/* Main */

main > .float-start {
    box-shadow: 0.6rem 0.6rem 0.6rem var(--bg-color-grey);
}

.far-galaxy {
    font-size: 1.8em;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: justify;
}

.rounded-bottom-left {
    border-bottom-left-radius: 1rem;
}

.rounded-bottom-right {
    border-bottom-right-radius: 1rem;
}

/* Footer */

footer {
    height: 5rem;
}

/* Customizing */

.btn-danger {
    background-color: rgba(204, 3, 35, 0.5);
    color: var(--color-main);
}